* {
	box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #4682B4;
}

.btn-md {
	border-radius: 10px;
	border-width: 1px;
	padding: 1px;
	/*width: 100px;*/
}

.btn {
	border-radius: 8px;
	border-width: 1px;
	padding: 3px;
	border-color: dodgerblue;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	text-overflow: ellipsis;
}

p {
	margin: 0;
}

.btn-action {
	width: 95px;
	margin-bottom: 2px;
}

.brand {
	font-size: 20px;
}

.nav-menu {
	font-size: 20px;
}

#addAsset, #addAsset {
	border-width: 11px;
}

.btn-nav {
	padding: 5px;
	padding-left: 2px;
	margin: 2px;
	border-radius: 20px;
	border-width: 1px; 
	text-underline-position: none;
	text-align: left;
}

.app-name {
	font-size: 20px;
}

.nav-link {
	padding: 0;
}

tr {
	overflow: hidden;
	white-space: nowrap;
	/*display: inline-block;*/
	text-overflow: ellipsis;
}

table { 
	border-spacing: 0;
	border-collapse: collapse;
	}
	
.badge {
	border-radius: 50%; 
	font-size: 14px;
	color: ;
	margin-left: 5px
}

.welcome {
	background-color: #4682B4;
}

.info {
	font-size: 100px;
	padding: 0;
	margin: 0;
}